# MTH 9871 Mid-term Project

In [5]:
"""
Main test file. Generate the result of our code.

Created: 11/27/17

Author: Bingcheng Wang, Yawei Wang & Zhihao Chen
"""
from spread_options import SpreadOption
import numpy as np
import pandas as pd

In [2]:
## Parameters
r = 0.1
T = 1.0
rho = 0.5
delta_1 = 0.05
sigma_1 = 0.2
delta_2 = 0.05
sigma_2 = 0.1
K = 2

## Test Theorem 1.1

S0 = np.array([10, 5])
N = 1000
eta = 0.1
ep = np.array([-4.2, 2.1])

payoff = SpreadOption(S0, K, T, r).P(N, eta, ep)

print(max((S0[0] - S0[1] - K), 0))
print(payoff)

3
3.06425856144

In [3]:
## Parameters
r = 0.1
T = 1.0
rho = 0.5
delta_1 = 0.05
sigma_1 = 0.2
delta_2 = 0.05
sigma_2 = 0.1

K = np.linspace(0.4, 4, 10)

## Test GBM

S0 = np.array([100, 96])
N = 256
u_bar = 40
eta = u_bar * 2 / N
ep = np.array([-5.2, 2.1])

s_res = []
for k in K:
    s = SpreadOption(S0, k, T, r).price(N, eta, ep, "GBM", sigma=np.array([sigma_1, sigma_2]), r=r, T=T, rho=rho)
    s_res.append(s)

pd.DataFrame({"K": K, "Price": s_res})

[ 0.4  0.8  1.2  1.6  2.   2.4  2.8  3.2  3.6  4. ]
[8.1367463527448649, 7.928563783920044, 7.7243884858312777, 7.5241924577338724, 7.3279460527589526, 7.1356180403359453, 6.9471756696430029, 6.7625847338189278, 6.5818096347745785, 6.4048134484455455]

In [6]:
pd.DataFrame({"K": K, "Price": s_res})

     K     Price
0  0.4  8.136746
1  0.8  7.928564
2  1.2  7.724388
3  1.6  7.524192
4  2.0  7.327946
5  2.4  7.135618
6  2.8  6.947176
7  3.2  6.762585
8  3.6  6.581810
9  4.0  6.404813

In [7]:
## Parameters
r = 0.1
T = 1.0
rho = 0.5
delta_1 = 0.05
sigma_1 = 1.0
rho_1 = -0.5
delta_2 = 0.05
sigma_2 = 0.5
rho_2 = 0.25
v0 = 0.04
kappa = 1.0
mu = 0.04
sigma_v = 0.05

K = np.linspace(2.0, 4.0, 11)

## Test SV
S0 = np.array([100, 96])
u_bar = 40
N = 256
eta = u_bar * 2 / N
ep = np.array([-5.2, 2.1])

s_res = []
for k in K:
    s = SpreadOption(S0, k, T, r).price(N, eta, ep, "SV", np.array([sigma_1, sigma_2, sigma_v]), r, T, 
                                        np.array([rho, rho_1, rho_2]), kappa, mu, v0, np.array([delta_1, delta_2]))
    s_res.append(s)
pd.DataFrame({"K": K, "Price": s_res})

      K      Price
0   2.0  13.523629
1   2.2  12.917232
2   2.4  12.301016
3   2.6  11.677380
4   2.8  11.048666
5   3.0  10.417154
6   3.2   9.785057
7   3.4   9.154521
8   3.6   8.527614
9   3.8   7.906324
10  4.0   7.292549

In [8]:
# Parameters
r = 0.1
T = 1.0
rho = 0.5
a_plus = 20.4499
a_minus = 24.4499
alpha = 0.4
lambda_ = 10

K = np.linspace(2.0, 4.0, 11)

## Test VG
S0 = np.array([100, 96])
u_bar = 40
N = 128
eta = u_bar * 2 / N
ep = np.array([-5.2, 2.1])

s_res = []
for k in K:
    s = SpreadOption(S0, k, T, r).price(N, eta, ep, "ExpLevy", lambda_, a_plus, a_minus, alpha, T)
    s_res.append(s)
pd.DataFrame({"K": K, "Price": s_res})

      K     Price
0   2.0  9.491180
1   2.2  9.385025
2   2.4  9.279715
3   2.6  9.175248
4   2.8  9.071624
5   3.0  8.968841
6   3.2  8.866898
7   3.4  8.765794
8   3.6  8.665528
9   3.8  8.566097
10  4.0  8.467500